@import url('https://fonts.googleapis.com/css2?family=Open+Sans+Condensed:wght@300&display=swap');


body {
    font-family: 'Open Sans Condensed', sans-serif;
    background-color: #dba50f;
}

.logo {
    background-color: #ab7f05;
    width: 70%;
    margin: 0px auto;
}

.image {
    padding: 10px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 10%;


}

img {

    height: auto;
}

nav {
    margin: 20px;


}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    padding-left: 155px;
    background-color: #ab7f05;
}

.menubar {
    float: left;
    padding: 10px;
    margin-left: 35px;


}

a {

    margin: 15px;
    font-size: 20px;
    text-decoration: none;
    color: white;
    text-align: center;
}

.theory {
    background-color: white;
    margin: 0px 15%;
}

.title {
    padding: 15px;
    text-align: center;
    text-transform: uppercase;
    color: #ab7f05;
}

.sidebyside {
    background-color: white;
    width: 100%;
    height: auto;
    text-align: center;
    display: flex;
    flex-direction: row;

}

.bar {
    width: 50%;
    height: auto;
    box-sizing: border-box;
}

.imagge {
    padding: 30px;
    width: 150px;
    height: auto;
    text-align: center;
    margin-left: 30px;
}

b {
    text-transform: uppercase;
    font-size: 20px;

}


h2 {
    text-transform: uppercase;

    color: #ab7f05;


}

hr {
    border: none;
    border-top: 1px dashed black;
    height: 1px;
    width: 90%;
    
}
.theory1{
    padding: 50px;
}