body{
    margin: 0;
    padding: 0;
    
}


.bg{
    background-image: url(image/1.jpg);
    
    background-origin: padding-box;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    
    
}
.div-1{
    padding-top: 350px;
    padding-bottom: 20px;
    color: white;
}

img{
    
    width: 100%;
    height: auto;
}


.bgg{
    padding:20px;
}
.bgg:hover{
    background-color:#D3D3D3;
   
}

a:hover{
    background-color: blue;
    
}

a{
    text-align: right;
    padding:20px;
}
.menu{
    padding-left: 400px;
}